@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', 'Roboto';
    ;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    border: 20px solid #4c5b6c;
}

p {
    line-height: 1.5;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    height: 80px;
    display: flex;
    background-color: #af5f6a;
}


img {
    width: 100%;
    cursor: pointer;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    pad: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    background-color: #af5f6a;
}

.tan {
    color: #4c5b6c;
}

.img__reading {
    border-radius: 75px;
    width: 100%;
}


ul {
    display: flex;
}
li {
    list-style-type: none;
}
.nav__link {
    font-family: Tahoma;
    font-weight: 300;
    margin-left: 12px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: center;
    color: black;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex; 
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: black;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}
.intro__para {
    font-size: 16px;
    font-family: Tahoma;
    font-weight: 300;
    margin-bottom: 32px;
    text-align: center;
    color: #af5f6a;
    border: 2px solid #4c5b6c;
    border-radius: 8px;
    padding: 8px 8px;
    background-color: #ececec;
    z-index: 1;
}
.img__flower {
  position: absolute;
  top: 50%;
  right: 36px;
  transform: translateY(-125%);
  width: 100px;   /* adjust size */
  height: auto;
  z-index: 0;    /* stays on top */
}
.img__flower2 {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-125%);
    width: 100px;   /* adjust size */
    height: auto;
    z-index: 0;    /* stays on top */
}

.search__box {
  display: flex;  
  justify-content: center;      
  align-items: center;
  z-index: 3;
  
}

.search__input {
    background: #ececec;
    text-align: center;
    width: 400px;
    color: #af5f6a;
    border: 2px solid #4c5b6c;
    border-radius: 10px;
    padding: 12px 24px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
}

.fa-magnifying-glass {
    color:#4c5b6c;
    background: none;
    margin-left: 12px;
    cursor: pointer;
    position: absolute;
    transform: translateX(1000%);
    pointer-events: auto;
}

input::placeholder {
    color: #4c5b6c;
    
}
input:focus {
  outline: none;
}



/* 

LANDING 

*/


header {
    height: calc(100vh-80px);
    background-color:#af5f6a;
    padding-bottom: 24px;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #4c5b6c;
    margin-bottom: 24px;
    text-align: center;
}


button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: 	#D2B48C;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2;
}

.container {
    padding: 46px 0;
    background-color: #ececec;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

/* 

HIGHLIGHTS

*/

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
    font-family: Tahoma;
    font-weight: 300;
    font-size: 16px;
}

.highlight__img {
    background-color: white;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    color: #af5f6a;
}

.section__title {
    padding-bottom: 24px;
    text-align: center;
    color: #4c5b6c;
    font-family: Tahoma;
    font-weight: 300;
}

/* 

FEATURES

*/

#features {
    padding-top: 4vw;
    background-color: #af5f6a;
}

.venues {
    display: flex;
    flex-wrap: wrap;
}

.venue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1rem;                 /* space between images */
    padding: 2rem;
}

.venue__img--wrapper {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 12px;
}
.venue__img {
    width: 174px;
    height: 113px;
}

.venue:hover .venue__img {
    transform: scale(1.03);
}

.venue__title {
    width: 225px;
    width: 70%;
    font-size: 20px;
    margin-bottom: 8px;
    justify-content: center;
    text-align: center;
    color: #af5f6a;
    font-family: Tahoma;
    font-weight: bold;
}

.venue__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.venue__ratings {
    margin-bottom: 12px;
    color: #fabf2a;
}
.venue__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

.reviews {
    font-size: 12px;
    width: 80%;
}
.review__para {
    text-align: center;
    font-size: 12px;
    color: #4c5b6c;
    background-color: white;
    border: 2px solid #4c5b6c;
    padding: 8px;
    border-radius: 12px;
}

/* 

EXPLORE

*/


/* 

FOOTER

*/

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
}

.footer__link,
.footer__copyright {
    color: black;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }    

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }
}

/*SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }
}